[submodule "ccalweb/themes/congo"]
	path = ccalweb/themes/congo
	url = git@github.com:jpanther/congo.git
[submodule "ccalweb2/themes/congo"]
	path = ccalweb2/themes/congo
	url = https://github.com/jpanther/congo.git
