html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(236, 236, 236, 0.836);
  font-size: 22px;
}

h1 {
  font-size: 45px;
  font-weight: bolder;
  color: rgb(0, 39, 97);
}

h2 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 75, 145);
}

h3 {
  font-size: 34px;
  color: rgb(53, 0, 247);
}

img {
  border-radius 8px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  position: relative;
}

.header {
  border: 10px;
  border-style: double;

}

.intro {
  border: 10px;
  border-style: solid;
}

.tab {
  border: 10px;
  border-style: hidden;
}

.footer {
  border: 10px;
  border-style: double;
}
/*
div {
border-top: 10px;
border-bottom: 10px;
border-left: 10px;
border-right: 10px;
border-style: solid;
border-color: rgb(236, 236, 236, 0.726);
}
*/

/* p is used for code blocks in tutorial*/
p {
  border-top: 40px;
  border-bottom: 40px;
  border-left: 40px;
  border-right: 40px;
  border-style: solid;
  border-color: black;
  color: rgb(29, 167, 29);
  background: black;
}

